<%- include('.include/.header.ejs') %>
    <%- include('.include/.sinavbar.ejs') %>

    <main role="main" class="container my-5 py-5">
        <div class="dashboard">
            <h1 class="h3 mb-5 font-weight-normal display-4 text-center">Dashboard</h1>
            <div class="row">
                <div class="col-sm-6">
                    <% tdata.projects.map( (project) => { %>
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><%= project.title %></h5>
                            </div>
                            <p class="mb-1"><%= project.username %></p>
                            <small class="text-muted"><%= project.modified %></small>
                            </a>
                        </div>
                    <% }) %>
                </div>
                <div class="col-sm-6">
                    <% tdata.notifications.map( (notification) => { %>
                        <ul class="list-group">
                            <li class="list-group-item"><%= notification.username %></li>
                            <li class="list-group-item"><%= notification.message %></li>
                            <li class="list-group-item"><%= notification.title %></li>
                        </ul>
                    <% }) %>
                </div>
            </div>
        </div>
    </main>
    
<%- include('.include/.footer.ejs') %>
