<%- include('../.include/.header.ejs') %>
    <%- include('../.include/.sinavbar.ejs') %>

    <main role="main" class="container my-5 py-5">
        <div class="jumbotron">
            <h1 class="display-4"><%= data.title %></h1>
            <p class="lead"><%= data.content %></p>
            <hr class="my-4">
            <p><%= data.username %></p>
            <p>Created at <%= data.created %></p>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link btn btn-lg text-primary" href="/projects/update/<%= data._id %>">Update</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-lg text-danger" href="/projects/delete/<%= data._id %>">Delete</a>
                </li>
            </ul>
        </div>
    </main>

<%- include('../.include/.footer.ejs') %>
